
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<%= render 'shared/errors', obj: @bug %>
<%# check if uesr is logged in or not %>
<%if user_signed_in?%>

    <%if current_user.manager?%>

    <%#if @bug.projects[0].user.manager? %>
        <h3 align="center">
            Only QA can create bugs or features
        </h3>
    <%else%>
    <div class="row">
    <div class="col-md-12">

        <%= form_for(@bug, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
        <%if current_user.qa?%>
        <%# bug title %>
            <div class="control-label col-md-2">
                <%= f.label :title %>
            </div>
            <div class="col-md-8">
                    <%= f.text_field :title, class: "form-control", placeholder: "Enter bug", autofocus: true %>
            </div>
            
            <div class="form-group">
                <div class="control-label col-md-2">
                    <%= f.label :description %>
                </div>
                <div class="col-md-8">
                    <%= f.text_area :description, class: "form-control", placeholder: "Enter bug description" %>
                </div>
            </div>
            <select id="bug_btype" name="bug[btype]">
                <option value="feature">feature</option>
                <option value="bug">bug</option>
            </select>
            <%f.select :btype, Bug.btypes.map { |key, value| [key.humanize, key] }%>            
            <%end%>
            <%#= f.input :date, as: :datetime, label:'Launch Date & Time', class: "form-control form-control-lg", input_html: {value: params[:start_date]}, wrapper_html: { class: 'mb-3' }, html5: true %>
            <select id="bug_status" name="bug[status]">
                <option value=0>new</option>
                <option value=1>started</option>
                <%if @bug.btype == 1%>
                    <option value=2>completed</option>
                <%else%>
                    <option value=2>end</option>
                <%end%>
            </select>
            <%f.select :btype, Bug.btypes.map { |key, value| [key.humanize, key] }%>   
            <div class="form-group">
                <div class="control-label col-md-2">
                    <%#= f.label :datetime %>
                </div>
                <div class="col-md-8">
                    <%#= f.datetime_select :datetime, class: "form-control", placeholder: "Enter bug datetime" %>
                </div>
            </div>
            
            <hr/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <%= f.submit(@bug.new_record? ? "Add Bug" : "Update Bug",class: "btn btn-primary btn-lg btn-xlarge") %>
                    <%#= button_to "Delete", bug_path(@bug),method: :delete,data: { confirm: "Are you sure you want to delete this bug?" },class: "btn btn-xs btn-danger" %>
                </div>
            </div>
        <% end %>

        <div class="col-md-4 col-md-offset-4 colormatch">
        [ <%= link_to "Cancel request and return to bugs listing", bugs_path %> ]
        </div>
    </div>
    </div>

    <%end%>
<%else%>
    <h3 align="center">
        You need to login to create bugs or features
    </h3>
<%end%>
